*{
    margin: 0;
    padding: 0;
    color: blue;
}
/* 페이지 전체 여백 조정(기본값) */

h1 {
            color: red;
            font-size: 50px
}
/* 특정값(h1) 지정 */
h1.test {
    color: pink;
}
#wwe {
    color: green;
}
/* 특특정값 선택자 (h1(class값 or id값)_) 지정 */
/* class값은 중복가능 하나 id값은 하나만 지정가능 */
/* 위경우 h1 -> test 순으로 적용되어 사이즈는 커지는데 color은 핑크 (css3고맙습니다 참고) */